<h1>Search for a car</h1>
<form>
    Make: <input type="text" name="make" placeholder="ex. Nissan"><br>
    Model: <input type="text" name="model" placeholder="ex. Sentra"><br>
    <input type="submit" value="Search">
</form>